name: CI – PR Validation

on:
  pull_request:
    branches:
      - main

jobs:
  pr-validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure Terraform Cloud Token
        run: |
          cat > ~/.terraformrc <<'EOF'
          credentials "app.terraform.io" {
            token = "${{ secrets.TF_API_TOKEN }}"
          }
          EOF

      # ✅ Copy dev.tfvars to terraform.auto.tfvars
      - name: Setup Dev Variables
        working-directory: infra
        run: cp environments/dev.tfvars terraform.auto.tfvars

      - name: Terraform Init
        working-directory: infra
        run: terraform init -upgrade

      - name: Terraform Plan (DEV)
        working-directory: infra
        run: terraform plan

      - name: Docker Build Validation
        run: docker build -t pr-validate ./app
